* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-shadow: none;
    color: white;
    display: flex;
    justify-content: center;
}

welcome {
    flex-direction: column;
    display: flex;
    justify-content: center;
    vertical-align: auto;
}

welcome > * {
    margin: 15px;
}

welcome h1 {
    font-size: 74px;
}

welcome h2 {
    font-size: 28px;
}

welcome h1,h2,h3,h4,h5 {
    font-family: 'Playfair Display', Georgia, serif;
    text-align: center;
    font-weight: 400;
}

.discord-button {
    background-color: rgb(0, 117, 193);
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
    align-self: center;
    font-size: 18px;
    font-weight: 700;
}

footer {
    font-size: 18px;
    color: rgb(169, 169, 169);
    background-color: rgb(22, 22, 22);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: calc(100% - 50px)
}